@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import './styles/_colors';
@import './styles/_fonts';

/*
* ============================
*          BODY
* ============================
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font: {
    size: 1.6rem;
    family: $font-family-base;
  }

}

header, footer {
  display: flex;
  background-color: $color-1;
  color: $color-3;
}

.main {
  display: flex;
  flex-direction: row;
}

.fromage {
  display: flex;
  flex-direction: column;
}

.vins {
  display: flex;
  flex-direction: column;
}

.vin {
  display: flex;
  flex-direction: row;
  border: 1px solid $color-4;
  height: 10rem;
  margin: 0.5rem;
  img{
    height: 100%;
  }

}
